<div class='contain clearfix' style='margin: -20px;'>
  <div class='col-md-4 col-sm-6 pad2'>
    <div class='block fill-darken1 dark round pad3 contain row9'>
      <%= image_tag 'ribbon.svg', class: 'ribbon pin-topright' %>
      <a href='#fakelink' class='small strong quiet category'>
        <span class='fill-green img-circle pad0 inline'></span>MOBILE
      </a>
      <h3 class='pad0y space-bottom0'>
        <%= link_to '#CodingWisdom: Overcome the Greatest Challenges', '/talk.html', class: 'text-default block' %>
      </h3>
      <%= partial 'author', locals: { img: 'hero.jpg' } %>
      <div class='strong small pin-bottomright pad1y pad3x'>
        <i class='icon icon-heart icon-md danger'></i> 13 <i class='icon icon-comment icon-md quiet' style='margin-left:8px;'></i> 36
      </div>
    </div>
  </div>    

  <div class='col-md-4 col-sm-6 pad2'>
    <div class='block fill-darken1 dark round pad3 contain row9'>
      <a href='#fakelink' class='small category strong quiet'>
        <span class='fill-turquoise img-circle pad0 small inline' style='margin-right: 10px;'></span>DEVELOPER TOOLS
      </a>
      <h3 class='pad0y space-bottom0'>
        <%= link_to 'Making SharedPreferences Easy with Kotlin', '/talk.html', class: 'text-default block' %>
      </h3>
      <%= partial 'author', locals: { img: 'adventuretime.jpg' } %>
      <div class='strong small pin-bottomright pad1y pad3x'>
        <i class='icon icon-heart icon-md quiet'></i> 12 <i class='icon icon-comment icon-md quiet' style='margin-left:8px;'></i> 36
      </div>
    </div>
  </div>    

  <div class='col-md-4 col-sm-6 pad2'>
    <div class='block fill-darken1 dark round pad3 contain row9'>
      <a href='#fakelink' class='small category strong quiet'>
        <span class='fill-purple img-circle pad0 small inline' style='margin-right: 10px;'></span>DESIGN
      </a>
      <h3 class='pad0y space-bottom0'>
        <%= link_to 'Magical Lessons for Muggle Developers', '/talk.html', class: 'text-default block' %>
      </h3>
      <%= partial 'author', locals: { img: 'batman.jpg' } %>      
      <div class='strong small pin-bottomright pad1y pad3x'>
        <i class='icon icon-heart icon-md quiet'></i> 12 <i class='icon icon-comment icon-md quiet' style='margin-left:8px;'></i> 36
      </div>
    </div>
  </div>    

  <div class='col-md-4 col-sm-6 pad2'>
    <div class='block fill-darken1 dark round pad3 contain row9'>
      <a href='#fakelink' class='small category strong quiet'>
        <span class='fill-blue img-circle pad0 small inline' style='margin-right: 10px;'></span>FRONT-END
      </a>
      <h3 class='pad0y space-bottom0'>
        <%= link_to 'Finding the Right Career in Web Design', '/talk.html', class: 'text-default block' %>
      </h3>
      <%= partial 'author', locals: { img: 'fusionfall.jpg' } %>
      <div class='strong small pin-bottomright pad1y pad3x'>
        <i class='icon icon-heart icon-md quiet'></i> 12 <i class='icon icon-comment icon-md quiet' style='margin-left:8px;'></i> 36
      </div>
    </div>
  </div>    

  <div class='col-md-4 col-sm-6 pad2'>
    <div class='block fill-darken1 dark round pad3 contain row9'>
      <a href='#fakelink' class='small category strong quiet'>
        <span class='fill-red img-circle pad0 small inline' style='margin-right: 10px;'></span>DATABASE
      </a>
      <h3 class='pad0y space-bottom0'>
        <%= link_to 'Lifelong Learners, It’s Back to School Time', '/talk.html', class: 'text-default block' %>
      </h3>
      <%= partial 'author', locals: { img: 'gumball.jpg' } %>
      <div class='strong small pin-bottomright pad1y pad3x'>
        <i class='icon icon-heart icon-md quiet'></i> 12 <i class='icon icon-comment icon-md quiet' style='margin-left:8px;'></i> 36
      </div>
    </div>
  </div>    

  <div class='col-md-4 col-sm-6 pad2'>
    <div class='block fill-darken1 dark round pad3 contain row9'>
      <a href='#fakelink' class='small category strong quiet'>
        <span class='fill-yellow img-circle pad0 small inline' style='margin-right: 10px;'></span>LEARNING
      </a>
      <h3 class='pad0y space-bottom0'>
        <%= link_to 'You’re Not an Impostor: Asking for Help', '/talk.html', class: 'text-default block' %>
      </h3>
      <%= partial 'author', locals: { img: 'jtest.jpg' } %>      
      <div class='strong small pin-bottomright pad1y pad3x'>
        <i class='icon icon-heart icon-md danger'></i> 13 <i class='icon icon-comment icon-md quiet' style='margin-left:8px;'></i> 36
      </div>
    </div>
  </div>    

  <div class='col-md-4 col-sm-6 pad2'>
    <div class='block fill-darken1 dark round pad3 contain row9'>
      <a href='#fakelink' class='small category strong quiet'>
        <span class='fill-orange img-circle pad0 small inline' style='margin-right: 10px;'></span>NEWS
      </a>
      <h3 class='pad0y space-bottom0'>
        <%= link_to '#CodingWisdom: Overcome the Greatest Challenges', '/talk.html', class: 'text-default block' %>
      </h3>
      <%= partial 'author', locals: { img: 'pokemon.jpg' } %>      
      <div class='strong small pin-bottomright pad1y pad3x'>
        <i class='icon icon-heart icon-md quiet'></i> 12 <i class='icon icon-comment icon-md quiet' style='margin-left:8px;'></i> 36
      </div>
    </div>
  </div>    

  <div class='col-md-4 col-sm-6 pad2'>
    <div class='block fill-darken1 dark round pad3 contain row9'>
      <a href='#fakelink' class='small category strong quiet'>
        <span class='fill-green img-circle pad0 small inline' style='margin-right: 10px;'></span>MOBILE
      </a>
      <h3 class='pad0y space-bottom0'>
        <%= link_to 'Making SharedPreferences Easy with Kotlin', '/talk.html', class: 'text-default block' %>
      </h3>
      <%= partial 'author', locals: { img: 'regularshow.jpg' } %>
      <div class='strong small pin-bottomright pad1y pad3x'>
        <i class='icon icon-heart icon-md quiet'></i> 12 <i class='icon icon-comment icon-md quiet' style='margin-left:8px;'></i> 36
      </div>
    </div>
  </div>    

  <div class='col-md-4 col-sm-6 pad2'>
    <div class='block fill-darken1 dark round pad3 contain row9'>
      <%= image_tag 'ribbon.svg', class: 'ribbon pin-topright' %>
      <a href='#fakelink' class='small category strong quiet'>
        <span class='fill-purple img-circle pad0 small inline' style='margin-right: 10px;'></span>DESIGN
      </a>
      <h3 class='pad0y space-bottom0'>
        <%= link_to 'Magical Lessons for Muggle Developers', '/talk.html', class: 'text-default block' %>
      </h3>
      <%= partial 'author', locals: { img: 'robin.jpg' } %>
      <div class='strong small pin-bottomright pad1y pad3x'>
        <i class='icon icon-heart icon-md quiet'></i> 12 <i class='icon icon-comment icon-md quiet' style='margin-left:8px;'></i> 36
      </div>
    </div>
  </div>    

  <div class='col-md-4 col-sm-6 pad2'>
    <div class='block fill-darken1 dark round pad3 contain row9'>
      <a href='#fakelink' class='small category strong quiet'>
        <span class='fill-blue img-circle pad0 small inline' style='margin-right: 10px;'></span>FRONT-END
      </a>
      <h3 class='pad0y space-bottom0'>
        <%= link_to 'Finding the Right Career in Web Design', '/talk.html', class: 'text-default block' %>
      </h3>
      <%= partial 'author', locals: { img: 'foster.jpg' } %>      
      <div class='strong small pin-bottomright pad1y pad3x'>
        <i class='icon icon-heart icon-md quiet'></i> 12 <i class='icon icon-comment icon-md quiet' style='margin-left:8px;'></i> 36
      </div>
    </div>
  </div>    

  <div class='col-md-4 col-sm-6 pad2'>
    <div class='block fill-darken1 dark round pad3 contain row9'>
      <a href='#fakelink' class='small category strong quiet'>
        <span class='fill-turquoise img-circle pad0 small inline' style='margin-right: 10px;'></span>DEVELOPER TOOLS
      </a>
      <h3 class='pad0y space-bottom0'>
        <%= link_to 'Lifelong Learners, It’s Back to School Time', '/talk.html', class: 'text-default block' %>
      </h3>
      <%= partial 'author', locals: { img: 'hero.jpg' } %>      
      <div class='strong small pin-bottomright pad1y pad3x'>
        <i class='icon icon-heart icon-md quiet'></i> 12 <i class='icon icon-comment icon-md quiet' style='margin-left:8px;'></i> 36
      </div>
    </div>
  </div>    

  <div class='col-md-4 col-sm-6 pad2'>
    <div class='block fill-darken1 dark round pad3 contain row9'>
      <a href='#fakelink' class='small category strong quiet'>
        <span class='fill-yellow img-circle pad0 small inline' style='margin-right: 10px;'></span>LEARNING
      </a>
      <h3 class='pad0y space-bottom0'>
        <%= link_to 'You’re Not an Impostor: Asking for Help', '/talk.html', class: 'text-default block' %>
      </h3>
      <%= partial 'author', locals: { img: 'adventuretime.jpg' } %>
      <div class='strong small pin-bottomright pad1y pad3x'>
        <i class='icon icon-heart icon-md quiet'></i> 12 <i class='icon icon-comment icon-md quiet' style='margin-left:8px;'></i> 36
      </div>
    </div>
  </div>

</div>