---
title: Members
---

<header class='inset-header dark'>
  <div class='container-fluid contain clearfix'>
    <div>
      <h1>Bacon ipsum dolor amet hamburger capicola</h1>
      <p class='lead quiet'>Sirloin, ground round, fatback, lorem ipsum dolor sit amet</p>
      <ul class='actions pin-bottomright'>
        <li>
          <%= link_to 'See all talks', '/sessions.html', class: 'btn btn-success' %>
        </li>
      </ul>
    </div>
  </div>
</header>

<div class='container-fluid contain'>
  <nav class='space-bottom4 dark'>
    <a href='/members.html' class='tab-link keyline-bottom quiet pad1y inline'>Everyone  <span class='pull-right fill-darken1 img-circle center small pad0x space0l'>75</span></a>
    <a href='/speakers.html' class='tab-link keyline-bottom quiet pad1y inline active'>Speakers  <span class='pull-right fill-darken1 img-circle center small pad0x space0l'>15</span></a>
  </nav>

  <ul class='fill-white pad3 users round space-bottom4'>
    <li class='pad2y keyline-bottom'>
      <div class='media contain'>
        <a class='media-left pad1r' href='#fakelink'>
          <%= image_tag 'hero.jpg', class: 'img-rounded', width: 85 %>
        </a>
        <div class='media-body pad0l'>
          <h4>Mordecai</h4>
          <p class='hidden-xs'>Product designer at Bluth Company</p>
          <ul class='stats'>
            <li class='inline pad2r'>
              <strong class='block space-bottom0 small'>15</strong>
              <small class='quiet'>Talks</small>
            </li>
            <li class='inline pad2x keyline-left'>
              <strong class='block space-bottom0 small'>26</strong>
              <small class='quiet'>Followers</small>
            </li>
            <li class='inline pad2x keyline-left'>
              <strong class='block space-bottom0 small'>5</strong>
              <small class='quiet'>Following</small>
            </li>
            <li class='inline pad2x keyline-left hidden-xs'>
              <strong class='block space-bottom0 small'>33</strong>
              <small class='quiet'>Favorites</small>
            </li>
          </ul>
        </div>
        <a href='#fakelink' class='btn btn-default pin-topright'>
          <i class='icon icon-plus pad1r'></i>Follow
        </a>
      </div>
    </li>
    <li class='pad2y keyline-bottom'>
      <div class='media contain'>
        <a class='media-left pad1r' href='#fakelink'>
          <%= image_tag 'hero.jpg', class: 'img-rounded', width: 85 %>
        </a>
        <div class='media-body pad0l'>
          <h4>Mordecai</h4>
          <p class='hidden-xs'>Product designer at Bluth Company</p>
          <ul class='stats'>
            <li class='inline pad2r'>
              <strong class='block space-bottom0 small'>15</strong>
              <small class='quiet'>Talks</small>
            </li>
            <li class='inline pad2x keyline-left'>
              <strong class='block space-bottom0 small'>26</strong>
              <small class='quiet'>Followers</small>
            </li>
            <li class='inline pad2x keyline-left'>
              <strong class='block space-bottom0 small'>5</strong>
              <small class='quiet'>Following</small>
            </li>
            <li class='inline pad2x keyline-left hidden-xs'>
              <strong class='block space-bottom0 small'>33</strong>
              <small class='quiet'>Favorites</small>
            </li>
          </ul>
        </div>
        <a href='#fakelink' class='btn btn-default pin-topright'>
          <i class='icon icon-plus pad1r'></i>Follow
        </a>
      </div>
    </li>
    <li class='pad2y keyline-bottom'>
      <div class='media contain'>
        <a class='media-left pad1r' href='#fakelink'>
          <%= image_tag 'hero.jpg', class: 'img-rounded', width: 85 %>
        </a>
        <div class='media-body pad0l'>
          <h4>Mordecai</h4>
          <p class='hidden-xs'>Product designer at Bluth Company</p>
          <ul class='stats'>
            <li class='inline pad2r'>
              <strong class='block space-bottom0 small'>15</strong>
              <small class='quiet'>Talks</small>
            </li>
            <li class='inline pad2x keyline-left'>
              <strong class='block space-bottom0 small'>26</strong>
              <small class='quiet'>Followers</small>
            </li>
            <li class='inline pad2x keyline-left'>
              <strong class='block space-bottom0 small'>5</strong>
              <small class='quiet'>Following</small>
            </li>
            <li class='inline pad2x keyline-left hidden-xs'>
              <strong class='block space-bottom0 small'>33</strong>
              <small class='quiet'>Favorites</small>
            </li>
          </ul>
        </div>
        <a href='#fakelink' class='btn btn-default pin-topright'>
          <i class='icon icon-plus pad1r'></i>Follow
        </a>
      </div>
    </li>
    <li class='pad2y keyline-bottom'>
      <div class='media contain'>
        <a class='media-left pad1r' href='#fakelink'>
          <%= image_tag 'hero.jpg', class: 'img-rounded', width: 85 %>
        </a>
        <div class='media-body pad0l'>
          <h4>Mordecai</h4>
          <p class='hidden-xs'>Product designer at Bluth Company</p>
          <ul class='stats'>
            <li class='inline pad2r'>
              <strong class='block space-bottom0 small'>15</strong>
              <small class='quiet'>Talks</small>
            </li>
            <li class='inline pad2x keyline-left'>
              <strong class='block space-bottom0 small'>26</strong>
              <small class='quiet'>Followers</small>
            </li>
            <li class='inline pad2x keyline-left'>
              <strong class='block space-bottom0 small'>5</strong>
              <small class='quiet'>Following</small>
            </li>
            <li class='inline pad2x keyline-left hidden-xs'>
              <strong class='block space-bottom0 small'>33</strong>
              <small class='quiet'>Favorites</small>
            </li>
          </ul>
        </div>
        <a href='#fakelink' class='btn btn-default pin-topright'>
          <i class='icon icon-plus pad1r'></i>Follow
        </a>
      </div>
    </li>
    <li class='pad2y keyline-bottom'>
      <div class='media contain'>
        <a class='media-left pad1r' href='#fakelink'>
          <%= image_tag 'hero.jpg', class: 'img-rounded', width: 85 %>
        </a>
        <div class='media-body pad0l'>
          <h4>Mordecai</h4>
          <p class='hidden-xs'>Product designer at Bluth Company</p>
          <ul class='stats'>
            <li class='inline pad2r'>
              <strong class='block space-bottom0 small'>15</strong>
              <small class='quiet'>Talks</small>
            </li>
            <li class='inline pad2x keyline-left'>
              <strong class='block space-bottom0 small'>26</strong>
              <small class='quiet'>Followers</small>
            </li>
            <li class='inline pad2x keyline-left'>
              <strong class='block space-bottom0 small'>5</strong>
              <small class='quiet'>Following</small>
            </li>
            <li class='inline pad2x keyline-left hidden-xs'>
              <strong class='block space-bottom0 small'>33</strong>
              <small class='quiet'>Favorites</small>
            </li>
          </ul>
        </div>
        <a href='#fakelink' class='btn btn-default pin-topright'>
          <i class='icon icon-plus pad1r'></i>Follow
        </a>
      </div>
    </li>
    <li class='pad2y keyline-bottom'>
      <div class='media contain'>
        <a class='media-left pad1r' href='#fakelink'>
          <%= image_tag 'hero.jpg', class: 'img-rounded', width: 85 %>
        </a>
        <div class='media-body pad0l'>
          <h4>Mordecai</h4>
          <p class='hidden-xs'>Product designer at Bluth Company</p>
          <ul class='stats'>
            <li class='inline pad2r'>
              <strong class='block space-bottom0 small'>15</strong>
              <small class='quiet'>Talks</small>
            </li>
            <li class='inline pad2x keyline-left'>
              <strong class='block space-bottom0 small'>26</strong>
              <small class='quiet'>Followers</small>
            </li>
            <li class='inline pad2x keyline-left'>
              <strong class='block space-bottom0 small'>5</strong>
              <small class='quiet'>Following</small>
            </li>
            <li class='inline pad2x keyline-left hidden-xs'>
              <strong class='block space-bottom0 small'>33</strong>
              <small class='quiet'>Favorites</small>
            </li>
          </ul>
        </div>
        <a href='#fakelink' class='btn btn-default pin-topright'>
          <i class='icon icon-plus pad1r'></i>Follow
        </a>
      </div>
    </li>
    <li class='pad2y'>
      <div class='media contain'>
        <a class='media-left pad1r' href='#fakelink'>
          <%= image_tag 'hero.jpg', class: 'img-rounded', width: 85 %>
        </a>
        <div class='media-body pad0l'>
          <h4>Mordecai</h4>
          <p class='hidden-xs'>Product designer at Bluth Company</p>
          <ul class='stats'>
            <li class='inline pad2r'>
              <strong class='block space-bottom0 small'>15</strong>
              <small class='quiet'>Talks</small>
            </li>
            <li class='inline pad2x keyline-left'>
              <strong class='block space-bottom0 small'>26</strong>
              <small class='quiet'>Followers</small>
            </li>
            <li class='inline pad2x keyline-left'>
              <strong class='block space-bottom0 small'>5</strong>
              <small class='quiet'>Following</small>
            </li>
            <li class='inline pad2x keyline-left hidden-xs'>
              <strong class='block space-bottom0 small'>33</strong>
              <small class='quiet'>Favorites</small>
            </li>
          </ul>
        </div>
        <a href='#fakelink' class='btn btn-default pin-topright'>
          <i class='icon icon-plus pad1r'></i>Follow
        </a>
      </div>
    </li>        
  </ul>
</div>
